
h1 { border:dotted 5px black;
-moz-border-radius: 75px;
-webkit-border-radius: 75px;
border-radius: 75px; text-align: center;
color: silver ;
font-size: 70px;
font-family: georgia;
background-position: left;

tag{
	font-family: georgia;
}


h2
{
	font-size: 50px;
}

body
{
    background-color: blue ; 
    font-family: georgia;
}

p
{
    text-shadow: 2px 2px 4px black;
     font-size: 20px;
     font-family: georgia;
}
